DEMOGRAFIA_CSV_URL=
EDUCACAO_CSV_URL=https://drive.usercontent.google.com/download?id=1aePuPVJour9VNAkZDvt1qYdLB8wwJrWl&export=download&confirm=t
SAUDE_CSV_URL=
ECONOMIA_RENDA_CSV_URL=
SANEAMENTO_CSV_URL=
HIDRAULICA_CSV_URL=
CARACTERISTICAS_DOCS_URL=https://docs.google.com/document/d/1-Tm71nMM_nrPZDt6J8mYLrPIODTBVDl9F35pW6Ge3YM/edit?tab=t.0
DEMOGRAFIA_DOCS_URL=https://docs.google.com/document/d/1AMNdtOV4tMSGl2S5EQu6904iWQVExjpZ/edit
EDUCACAO_DOCS_URL=https://docs.google.com/document/d/15fLUOJOYfldnrTivoLqUXh1yPeZFaVi-/edit
SAUDE_DOCS_URL=
ECONOMIA_RENDA_DOCS_URL=
SANEAMENTO_DOCS_URL=
HIDRAULICA_DOCS_URL=
