DEMOGRAFIA_CSV_URL=
EDUCACAO_CSV_URL=
SAUDE_CSV_URL=
ECONOMIA_RENDA_CSV_URL=
SANEAMENTO_CSV_URL=
HIDRAULICA_CSV_URL=
CARACTERISTICAS_DOCS_URL=
DEMOGRAFIA_DOCS_URL=
EDUCACAO_DOCS_URL=
SAUDE_DOCS_URL=
ECONOMIA_RENDA_DOCS_URL=
SANEAMENTO_DOCS_URL=
HIDRAULICA_DOCS_URL=
DB_HOST=
DB_DATABASE=
DB_USER=
DB_PASSWORD=
DB_PORT=
DESENVOLVIMENTO_SOCIAL_DOCS_URL=
MEIO_AMBIENTE_DOCS_URL=
