__pycache__/
*.pyc
.venv/
output/*
!output/.gitkeep
report-generator-demo/frontend/node_modules/
report-generator-demo/frontend/dist/
.env
node_modules/
frontend/dist/
report/ssr-dist/
report/node_modules/
*.lock
.config
/map_shape
/frontend/map_shape
.opencode
